<header class="site-header" role="banner">
	<div class="wrapper">
		<nav class="grey">
			<div class="nav-wrapper">
				<a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					
					<li><a class="page-link" href="/">Home</a></li>
					{% assign sorted_pages = site.pages | sort: "order" %}
					{% for node in sorted_pages %}
						{% if node.title %}
							{% unless node.nonav or node.layout=='home' %}
								<li><a class="page-link" href="{{ node.url | relative_url }}">{{ node.title | escape }}</a></li>
							{% endunless %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</nav>

		<script>$(document).ready(function(){$('.sidenav').sidenav();});</script>
		<ul class="sidenav" id="mobile-nav">
			<li><a class="page-link" href="/">Home</a></li>
			{% assign sorted_pages = site.pages | sort: "order" %}
			{% for node in sorted_pages %}
				{% if node.title %}
					{% unless node.nonav %}
						<li><a class="page-link" href="{{ node.url | relative_url }}">{{ node.title | escape }}</a></li>
					{% endunless %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</header>